

.heading {
    /* font-size: 52px; */
    font-weight: bold;
    color: #333;     
  }

  .style {
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }

  .about {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  


