

.admin-nav-container {
    /* display: flex;
    justify-content: flex-end;
    align-items: center; */
    /* width: 100vw;
    height: 60px; */
    background-color: rgb(255,255,255);
    /* width: calc(100vw-) */
    /* background-color: black; */
    /* width: calc(100vw - 85%); */
}
