.admin-nav-container {
    display: flex;
    justify-content: flex-end;
    
    height: 3rem;
    /* width: calc(100vw-) */
    /* background-color: black; */
    width: calc(100vw - 85%);
}

.nav-bar{
    background-color: black;
}