*{
  font-family: 'inter';
}

.size:hover {
  transition: 0.3s ease;
  transform: scale(1.1);
  background-color: #f87171;
  color: white;
  font-weight: 500;
}
.buy:hover {
  transition: 0.3s ease;
  transform: scale(1.1);
  background-color: #f45e5e;
  color: white;
}
.cart:hover {
  transition: 0.3s ease;
  transform: scale(1.2);
  background-color: #f45e5e;
  color: white;
}

.wishlist:hover {
  transition: 0.3s ease;
  transform: scale(1.2);
  background-color: #f87171;
  color: white;
}

@media (max-width: 768px) {

  .prod_container {
    flex-direction: column;
    align-items: center;
    justify-content: center ;
  }

  .prod_info{
    width: 100%;
  }

  /* .prod_thumbnail_carousel {
    margin-left: -50px;
    width: 120px;
  }

  .prod_thumbnail_carousel img {
    height: 60px;
  }
  .prod_image {
    margin-right: -60px;
  }

  .prod_image img {
    height: 310px;
  }

  .prod_info {
    align-items: center;
  } */

  /* .size_container {
    width: 10px;
    height: 10px;
    font-size: 12px;
    margin: 15px;
  } */
}

@media (min-width: 769px) and (max-width: 1024px) {
  .prod_info {
    width: 50%;
  }

  .highlight .buy{
    padding: 8px 20px ;
  }

  .highlight .digit{
    padding: 8px 15px;
  }
}