@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "poppins";
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: start; */
  gap: 8px;
}

.sub-head {
  font-size: 36px;
  font-weight: 600;
  /* margin-bottom: 60px; */
}

.cat-slider .item {
  width: 170px;
  height: 145px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.cat-slider .item:hover {
  background: #db4444;
  color: white;
  border: none;
  transform: scale(1.1);
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.19), 4px 5px 6px rgba(0, 0, 0, 0.19);
}

.cat-slider .item .item-icon > svg {
  font-size: 40px;
}

.cat-slider .item .item-name {
  font-size: 16px;
  font-weight: 400;
}

.slick-slider {
  padding: 0px 6px;
}

.cat-slider .slick-slide {
  padding: 20px 20px;
}

.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  font-size: 30px !important;
}

.slick-arrow.slick-prev:before,
.slick-arrow.slick-next:before {
  content: "" !important;
  color: #db4444;
  width: 60px;
  height: 40px;
  font-size: 30px;
}

.cat-slider .slick-arrow {
  zoom: 80%;
}

.cat-slider .slick-arrow:hover {
  background-color: #db4444 !important;
}

.cat-slider .slick-arrow > svg:hover {
  color: white !important;
}

.cat-slider .item {
  width: 170px;
  height: 145px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.cat-slider .item:hover {
  background: #db4444;
  color: white;
  border: none;
  transform: scale(1.1);
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.19), 4px 5px 6px rgba(0, 0, 0, 0.19);
}

.cat-slider .item .item-icon > svg {
  font-size: 40px;
}

.cat-slider .item .item-name {
  font-size: 16px;
  font-weight: 400;
}

.slick-slider {
  padding: 0px 6px;
}

.cat-slider .slick-slide {
  padding: 20px 20px;
}

.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  font-size: 30px !important;
}

.slick-arrow.slick-prev:before,
.slick-arrow.slick-next:before {
  content: "" !important;
  color: #db4444;
  width: 60px;
  height: 40px;
  font-size: 30px;
}

.cat-slider .slick-arrow {
  zoom: 80%;
}

.cat-slider .slick-arrow:hover {
  background-color: #db4444 !important;
}

.cat-slider .slick-arrow > svg:hover {
  color: white !important;
}
