.container{
	display:flex;
	margin-left:30px;
	margin-right: 30px;
  width:100%;
   height: 80vh;
   }
  .heading{
       margin-left: 540px;
  }
  .heading h1{
    font-size: 300%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	background: -webkit-linear-gradient(#f3ec78,#af4261);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
 .container-1{
	padding: 23px 12px ;
	
	border-radius: 4px;
	margin: 23px 15px;
	
	
	width:500px;
	height:100px;
	text-align: center;
	font-family:Georgia, 'Times New Roman', Times, serif;
   
 }    
 .container-2{
	padding: 23px 12px  ;
	
	border-radius: 4px;
	margin: 23px 15px;
	
	width:500px;
	height:200px;
	 font-family:Georgia, 'Times New Roman', Times, serif;
	text-align:center;
	

 }    
 .container-3{
	padding: 23px 12px;
	
	border-radius: 4px;
	margin: 23px 15px;

	width:500px;
	height:200px;
	text-align: center; font-family:Georgia, 'Times New Roman', Times, serif;
	
 }    
 
 .container-4{
	padding: 23px 12px;
	border-radius: 4px;
	margin: 23px 15px;
	
	width:500px;
	height:200px;
	text-align: center; font-family:Georgia, 'Times New Roman', Times, serif;
	
 }    