.card-container {
  /* background-color: rgb(217, 198, 233); */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
}

.card {
  width: 305px;
  height: 480px;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

.card img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.card-content {
  padding: 16px;
}

.card-content h3 {
  /* font-size: 10px; */
  margin-bottom: 8px;
}

.card-content p {
  font-weight: 500;
  /* font-size: 15px; */
  line-height: 1.3;
}

.card-content .btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #6a4271;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 16px;
  color: #fff;
}

@media (min-width: 768px) {
  .m-heading {
    font-size: 2.25rem /* 36px */;
    line-height: 2.5rem /* 40px */;
  }
}

@media (min-width: 1024px) {
  .m-heading {
    font-size: 2.25rem /* 36px */;
    line-height: 2.5rem /* 40px */;
  }
}
