/* .active{
  background-color: rgb(240, 45, 52);
} */

.navbar {
  padding: 20px 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
}

#nav_collapse {
  display: flex;
  gap: 45px;
  font-weight: 400;
  font-size: 18px;
  /* border: 1px solid black; */
}

#nav_collapse li {
  list-style: none;
}

#nav_collapse li a {
  text-decoration: none;
}

.navbar_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 45px;
  /* border: 1px solid black; */
}
.navbar_box > h1 {
  font-weight: 700;
  font-size: 25px;
}
.navbar_box > p {
  font-size: 16px;
  font-weight: 400;
}
.navbar_search_div {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 300px;
  background-color: #f5f5f5;
  border-radius: 8px;
  /* border: 1px solid black; */
}

.navbar_search_div > input {
  background-color: #f5f5f5;
  font-size: 14px;
  outline: none;
  border: none;
}

.mobile-search {
  display: none;
}

#menu {
  display: none;
  padding: 5px;
}



/* responsive */

@media (max-width:1024px) {
  .nav__elements {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 30px 40px;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
  }

  .nav__elements {
    display: none;
  }

  .navbar_search_div {
    display: none;
  }

  .mobile-search {
    display: block;
  }

  #nav_collapse {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 88px;
    right: -300px;
    width: 300px;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 40px 0px 0 30px;
    transition: 0.3s ease-in-out;
    z-index: 1;
  }
  .navbar_box > h1 {
    font-weight: 700;
    font-size: 25px;
  }

  #nav_collapse.open {
    right: 0px;
  }

  #menu {
    /* display: block; */
    display: flex;
    flex-wrap: wrap;
    width: 30px;
    height: 30px;
  }

  #menu i {
    font-size: 20px;
    cursor: pointer;
  }

  

  .navbar_search_div {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    padding: 30px 15px;
    gap: 13px;
  }

  .mobile-search {
    display: block;
  }

  .navbar_box {
    gap: 20px;
  }

  .navbar_box > h1 {
    font-weight: 700;
    font-size: 25px;
  }

  .navbar_search_div {
    padding: 5px 8px;
    width: 230px;
  }

  .navbar_search_div > input {
    font-size: 13px;
    outline: none;
    border: none;
  }
  .navbar_search_div {
    display: none;
  }

  #nav_collapse {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 90px;
    right: -300px;
    width: 300px;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 40px 0px 0 30px;
    transition: 0.3s ease-in-out;
  }

  #nav_collapse.open {
    right: 0px;
  }

  #menu {
    /* display: block; */
    display: flex;
    flex-wrap: wrap;
    width: 30px;
    height: 30px;
  }

  .navbar_search_div {
    display: none;
  }

 
}

@media screen and (max-width: 480px) {
  .navbar {
    padding: 25px 20px;
    gap: 8px;
  }

  .navbar_box {
    gap: 16px;
  }

  .navbar_box > h1 {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 1px;
  }



  .mobile-search {
    display: block;
  }

  

  #nav_collapse {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 90px;
    right: -300px;
    width: 350px;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 40px 0px 0 30px;
    transition: 0.3s ease-in-out;
  }

  #nav_collapse.open {
    right: 3px;
  }

  #menu {
    /* display: block; */
    display: flex;
    flex-wrap: wrap;
    width: 30px;
    height: 30px;
  }

  .navbar_search_div {
    display: none;
  }

}

@media screen and (max-width: 380px) {
  .navbar {
    padding: 20px 10px;
    gap: 8px;
  }
  .navbar_search_div {
    display: none;
  }

  .navbar_box {
    gap: 16px;
  }

  .mobile-search {
    display: block;
  }

  .navbar_box > h1 {
    font-weight: 700;
    font-size: 13px;
  }

  .navbar_search_div {
    padding: 5px 5px;
    width: 160px;
  }

  .navbar_search_div > input {
    font-size: 10px;
    outline: none;
    border: none;
  }

  #nav_collapse {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 90px;
    right: -300px;
    width: 300px;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 40px 0px 0 30px;
    transition: 0.3s ease-in-out;
  }

  #nav_collapse.open {
    right: 0px;
  }
  #menu {
    /* display: block; */
    display: flex;
    flex-wrap: wrap;
    width: 30px;
    height: 30px;
  }

 
}
