.navbar{
  margin: 30px 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black; */
}
.navbar_box{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:45px;
  /* border: 1px solid black; */
}
.navbar_box>h1{
  font-weight: 700;
  font-size: 25px;
}
.navbar_box>p{
  font-size: 16px;
  font-weight: 400;
}
.navbar_search_div{
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 245px;
  background-color: #F5F5F5;
  /* border: 1px solid black; */
}

.navbar_search_div>input{
  background-color: #F5F5F5;
  font-size: 14px;
  outline: none;
  border: none;
}

/* responsive */

