header {
  display: flex;
  width: 100vw;
  height: 70px;
  background-color: #dee2e6;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #ecdcdc;
  margin: 0 10px;
}

.menu {
  position: relative;
  cursor: pointer;
  font-size: 25px;
}

.menu-options {
  display: none;
  position: absolute;
  top: 40px;
  left: -20%;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: white;
  border: 1px solid #555;
}

.menu-options li {
  padding: 10px;
  text-align: right;
}

.menu-options a {
  text-decoration: none;
  color: black;
  display: block;
  font-weight: bold;
}

.store_logo {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.nav_bar {
  display: flex;
  min-width: 580px;
  justify-content: space-evenly;
}

.nav_bar a {
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #282c3f;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 7px 15px;
  border-radius: 5px;
}

.search_bar {
  height: 40px;
  min-width: 300px;
  width: 22%;
  display: flex;
  align-items: center;
}

.search_icon {
  box-sizing: content-box;
  height: 20px;
  padding: 10px;
  background: #f5f5f6;
  color: #282c3f;
  font-weight: 300px;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
}

.search_input {
  color: #696e79;
  background: #f5f5f6;
  flex-grow: 1;
  height: 40px;
  border: none;
  border-radius: 0 4px 4px 0;
}

button {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  width: 150px;
  padding: 10px 0;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  transition: 0.4s;
}
.logo_container {
  margin-left: 25px;
}
.log {
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #282c3f;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 0;
  color: rgb(104, 85, 224);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(104, 85, 224, 1);
}

div > a > button:hover {
  color: white;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  background-color: rgba(104, 85, 224, 1);
  transition: 0.3s ease;
  transform: scale(1.1);
}

.action_bar {
  display: flex;
  min-width: 150px;
  cursor: pointer;
  justify-content: space-evenly;
}

.action_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px;
}

.action_icon {
  font-size: 20px;
}
.action_name {
  font-size: 15px;
}

.action_container a {
  color: #282c3f;
}

.activeHandler {
  background-color: #dee2e6;
  color: #282c3f;
}

.activeHandler a.active {
  background-color: rgba(104, 85, 224, 1);
  color: white;
}

.activeHandler:not(a.active):hover {
  background-color: rgba(104, 85, 224, 1);
  color: white;
}
