.footer{
  background-color: black;
  padding: 70px 100px;
}
.footer_data_box{
  border: 1px solid white;
  color:white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}