.footer{
  background-color: black;
}

.footer_data_box{
  /* border: 1px solid white; */
  padding: 70px 80px;
  color:white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 80px;
}

.footer_data_box h1{
  font-size: 25px;
  font-weight: 700;
}

.footer_data_box h2{
  font-size: 20px;
  font-weight: 500;
}
.footer_data_box p{
  font-size: 16px;
}

.footer_data_inner-box{
  margin: 10px 0px;
  display: flex;
  /* min-width: 150px; */
  justify-content: space-between;
  /* align-items: center; */
  flex-direction: column;
  gap: 16px;
}
.footer_data_inner-box>input{
  border: 2px solid white;
  padding: 8px 10px;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  border-radius: 4px;
}

.footer_data_photos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
  /* align-items: center; */
}
.footer_data_store-imgs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}



.footer_data_icons{
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
}

.footer_copyright_box{
  padding: 20px 100px;
  color:grey;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
  align-content: center;
}


