* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  .story {
    font-size: x-large;
    font-weight: 200;
    padding: 100px 200px;
    display: flex;
    justify-content: left;
    width:100%;
    height: 100vh;
    
  
  
  }
  
  .container1{
    width:50%;
    height: 50vh;
  }
  .para {
    font-size: 20px;
    padding: 100px 200px;
    display: flex;
    justify-content: left;
    margin-left: -200px;
     animation: ParaAni forwards 1s ease;
     transition-duration: 0.6;
     font-family: 'Poppins';
  }
  .container1 h2{
    background: -webkit-linear-gradient(#f3ec78,#af4261);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins';
  
  }
  @keyframes ParaAni {
          
    
      0% {
          transform: translateY(100px);
          opacity: 0;
      }
      100% {
          transform: translateY(0);
          opacity: 1;
      }
      
  }
  
    
  
  
  
  .image-container {
    margin-left: 700px;
    margin-top: -400px;
    width: 50%;
    height: 50vh;
  
  }
  .image-container img{
    width:400px;
    height: 300px;
    animation: ImgAni forwards 1s ease;
     transition-duration: 0.6;
  }
  @keyframes ImgAni {
          
    
    0% {
        transform: translateX(150px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
    
  }
  
  .custom-box {
    width: 1100px;
    height: 200px;
    border: 1px solid grey;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  .inner-box {
    width: calc((100% - 30px) / 4);
    height: 100%;
    border: 1px solid black;
    display: flex;
    justify-self: center;
    text-align: center;
  
  }
  
  .container2 {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: 0 auto;
  }
  
  .box {
    width: 250px;
    height: 325px;
    border-radius: 10px ;
  }
  .box img{
    width: 250px;
    height: 325px;
  }
  .custom-box2 {
      width: 1100px;
      height: 200px;
      border: 1px solid grey;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      text-align: center;
    }
    
  .heading-container{
    width:100%;
    height: 10vh;
    margin-left: 560px;
  }
  .heading-container h2{
    background: -webkit-linear-gradient(#f3ec78,#af4261);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins';
    font-size: 30px;
  }