.swiper {
  width: 100%;
  padding: 0px 20px;
  height: 100%;
  /* place-self: center; */
 
}

.mySwiper .swiper-pagination-bullet {
  background: #ef4444;
}

.mySwiper .swiper-button-prev::after {
  font-size: 2rem;
}

.mySwiper .swiper-button-prev::after,
.mySwiper .swiper-button-next::after {
  font-size: 2rem;
  color: #ef4444;
  padding: 2rem;
  width: 200px;
}


