.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  height: 90vh;
}

.inner-container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 100%;
  /* border: solid; */
  width: 100%;
  margin-right: 10px;
  margin-left: 10px;
}

.banner-container {
  width: 70%;
  height: 60%;
  /* border: solid; */
  display: flex;
  justify-content: start;
}

.banner-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.t-shirt_container {
  width: 30%;
  height: 75%;
  /* border: solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.t-shirt_container h1 {
  text-align: center;
}
/*
.banner-container{
  width: 25%;
  height: 1%;
	margin-left: 520px;
	padding: 0;
}
*/
#slider{
	width: 100%;
	overflow: hidden;
}


#slider figure{
	width: 400%;
	position: relative;
	margin: 0;
	left: 0;
	-webkit-animation: 20s slider infinite;
	-moz-animation: 20s slider infinite;
	animation: 20s slider infinite;
}
#slider figure img{
	width: 25%;
	float: left;
}
@keyframes slider{
	0%{
		left: 0%;
	}
	20%{
		left: 0%;
	}
	25%{
		left: -100%;
	}
	45%{
		left: -100%;
	}
	50%{
		left: -200%;
	}
	70%{
		left: -200%;
	}
	75%{
		left: -300%;
	}
	95%{
		left: -300%;
	}
	100%{
		left: -400%;
	}
}